@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Couleurs pour le thème clair */
  --foreground-rgb: 54, 54, 54;
  --background-start-rgb: 208, 102, 45; /* orange */
  --background-end-rgb: 247, 247, 247; /* Blanc */
  --background-grey-rgb: 41, 41, 41; /* Gris foncé */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Couleurs pour le thème sombre */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 208, 102, 45; /* orange */
    --background-end-rgb: 33, 33, 33; /* Noir */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .orange {
    background-color: rgb(var(--background-start-rgb));
  }
  .greylight {
    color: #d0662d;
  }
  .fixed-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .card-light {
    background-color: rgb(var(--background-end-rgb));
    color: rgb(var(--foreground-rgb));
  }
  .card-dark {
    background-color: rgb(var(--background-grey-rgb));
    color: rgb(var(--foreground-rgb));
  }

  .card-dark:hover {
    box-shadow: 0 4px 10px rgb(var(--orange-rgb));
  }
  .scrollbar-custom::-webkit-scrollbar {
    height: 12px; /* Hauteur de la barre de défilement */
  }
  .scrollbar-visible {
    overflow-x: scroll;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la barre de défilement */
    border-radius: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #d0662d; /* Couleur du curseur au survol */
    border-radius: 10px;
  }
}
